*{
	box-sizing: border-box;
}
body{
	padding: 1rem 0.5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color:#333;

}
img{
	max-width: 100%;
}
.Header{
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}
.Strap{
	font-size: 1rem;
}
.IntroWrapper .Introtext{
	font-size: 1.8rem;
	font-style: italic;
}
.MoneyShot{
	position: relative;
}